<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
<header>
        <nav class="nav">
            <ul class="main">
                <li class="listas">
                    <a href=""class="ancor">Servicios</a>
                </li>
                <li class="listas" >
                    <a href="" class="ancor">Nosotros</a>
                </li>
                <li class="listas" >
                    <a href="" class="ancor">Tienda</a>
                </li>
                <li class="listas">
                    <a href="" class="ancor">Contáctenos</a>
                </li>
            </ul>
        </nav>
</header>
<main>
    <section class="section-padre">
        <article>
            <div class="bloque-principal">
                <div class="bloque">
                <p>Consultoria Web</p>
                </div>
                <div class="bloque">
                <p>Servicio Outsoursing</p>
                </div>
                <div class="bloque">
                <p>Diseño UX/UI</p>
                 </div>
                <div class="bloque">
                <p>Desarrollo web</p>
            </div>
            </div>

        </article>

        <div class="parrafo">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo veniam eveniet unde impedit ipsam voluptatum sint quasi aliquam aspernatur repudiandae ipsa, qui numquam quaerat sit quisquam eaque velit repellat. Cum.
                Omnis, totam porro? Fuga ipsam similique doloremque fugiat quae cumque sapiente facere! Quibusdam ad placeat asperiores, laboriosam quia ipsa esse voluptates quos ducimus delectus illo magnam et perspiciatis quis ut!
                </p>
        </div>
    </section>
</main>
    <footer class="footer">
        <nav class="nav-inf">
            <ul class="redes">
                <li class="menu">
                    <a href=""class="social">Servicios</a>
                </li>
                <li class="menu">
                    <a href=""class="social">Servicios</a>
                </li>
                <li class="menu">
                    <a href=""class="social">Servicios</a>
                </li>
                <li class="menu">
                    <a href=""class="social">Servicios</a>
                </li>
            </ul>
        </nav>
    </footer>
</main>
</body>
</html>