*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section{
    width: min-content;
}
.title{
    color: aliceblue;
    background-color: tomato;
    text-align: center;
    border-radius: 7px;
    padding: 8px;
    /* margin-left: 50px; */
    width: 200px;
    position: relative;
    z-index: 9;
    margin: auto;
    border: 2px solid rgb(204, 43, 14);
}

.cuerpo{
    background-color: rgb(255, 171, 157);
    text-align: justify;
    border-radius: 7px;
    padding: 20px;
    width: 300px;
    height: 30%;
    z-index: 4;
    margin-top: -10px;
    border: 2px solid rgb(248, 96, 70);
    
}

.usuario{
    width: 50px;
    height: 50px;
    display:block;     
    margin:0 auto 7px
}

p{
    color: black;
}